<!DOCTYPE html>
<html>
<head>
	<title>SEO | Under Construction</title>
	<meta name="viewport" content="width=device-width">
	
         <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><span class="highlight">Search</span> Engine Optimization</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/sem">SEM</a></li>
            <li class="active"><a href="*">Learn</a></li>
          </ul>
        </div>
    </nav>
 
	<style>
	body {
	    background: url(img/underconstruction.jpg);
	    background-size: cover;
	    background-position: top center;
	    background-attachment: fixed;
	    background-repeat: no-repeat;
	}
	</style>
</body>
</html>

