<!DOCTYPE html>
<html>
<head>
	<title>SEO | Mat</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Search</span> Engine Optimization</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#boxes">Search Engines</a></li>
            <li><a href="#main">Learn</a></li>
          </ul>
        </nav>
      </div>
    </header>

	<section id="showcase">
		<div class="container">
			<h1>Search Engine Optimization</h1>
			<p>The process of maximizing the number of visitors to a particular website by ensuring that the site appears high on the list of results returned by a search engine.</p>
		</div>
	</section>

	<section id="search-engines">
      <div class="container">
        <h1 align="center">Most Used Search Engines</h1>
      </div>
    </section>

    <section id="boxes">
    	<div class="container">
	    	<div id="box">
	    		<img src="img/google.png">
	    		<h3>Google Search</h3>
	    		<p>The order of search on Google's search-results pages is based, in part, on a priority rank called a "PageRank".</p>
	    	</div>
	    	<div id="box">
	    		<img src="img/yahoo.png">
	    		<h3>Yahoo Search</h3>
	    		<p>The results were presented to the user under the Yahoo! brand.</p>
	    	</div>
	    	<div id="box">
	    		<img src="img/bing.png">
	    		<h3>Bing Search</h3>
	    		<p>Bing is a web search engine owned and operated by Microsoft.</p>
	    	</div>
    	</div>
    </section> <!-- End of Section boxes -->
    <hr>
    <section id="main">
    	<div class="container">
    		<article id="main-col-1">
    			<h1 class="page-title">Search Engine Optimization</h1>
    			<p>It is the process of maximizing the number of visitors to a particular website by ensuring that the site appears high on the list of results returned by a search engine.</p>
    			<p>
    				It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines.
    			</p>
    		</article>
            <aside id="sidebar">
                <div class="dark">
                    <h3>Some Important SEO Expectations</h3>
                    <ol>
                        <li>Speed of Ranking Increases</li>
                        <li>Number of Keywords Targeted</li>
                        <li>Quantity of Blacklinks</li>
                        <li>Quality of Blacklinks</li>
                        <li>Amount of Traffic</li>
                        <li>Number of Leads</li>
                        <li>Client Impact of Success</li>
                    </ol>
                </div>
            </aside>
    	</div>
    </section>
    <hr>
    <section id="main-2">
    	<div class="container">
    		<article id="main-col">
    			<h1 class="page-title">Guidelines on how to read a Search Engine Results Page</h1>
    			<p class="dark">pangitaunon pa !!</p>
    		</article>
    	</div>
    </section>
    <hr>
    <section id="main3">
    	<div class="container">
    		<article id="main-col">
    			<h1>SEO Affects Business by...</h1>
    			<p class="dark">
    				A good way of making the content found in your website more relevant to what potential customers want. 
    			</p>
    			<p class="dark">By placing your business in the various search engines, SEO makes it easier for people to have as much information as they would want regarding your business.
    			</p>
    			<p class="dark">
    				It is also a good way of making your website more attractive, thus increasing readability and the amount of time people spend on the page, which is also valuable.  Through the use of good and reliable software, search engines serve their purpose much more effectively.
    			</p>

    		</article>
    	</div>
    </section>

    <footer>
    	<p><strong>Search Engine Optimization, Copyright &copy;2017 </strong></p>
    </footer>
</body>
</html>