<!DOCTYPE html>
<html>
<head>
	<title>SEO | Mat</title>
	<meta name="viewport" content="width=device-width">
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
<body>
     <nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo"><span class="highlight">Search</span> Engine Optimization</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/">Home</a></li>
	        <li class="active"><a href="/sem">SEM</a></li>
	        <li><a href="*">Learn</a></li>
	      </ul>
	    </div>
  </nav>

	<section id="showcase" class="semclass">
		<div class="container">
			<h1>Search Engine Optimization</h1>
			<p>The process of maximizing the number of visitors to a particular website by ensuring that the site appears high on the list of results returned by a search engine.</p>
		</div>
	</section>
	
	<!-- Jumbotron-->
	<div class="jumbotron">
		<div style="" class="container text-center">
			<h3 align="center">Search Engine Optimization and Search Engine Marketing</h3>
		</div> <!-- End container -->
	</div> <!-- End Jumbotron -->
	<div>
	<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">done</i>SEO and SEM</div>
      <div class="collapsible-body"><span>SEO is about optimizing your website to get better rankings in the search results while SEM goes beyond SEO. It involves other methods that can get you more search engines visitors like PPC advertising.</span></div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">done</i>Domain name strategy</div>
      <div class="collapsible-body"><span>-A domain name strategy can add incredible value to the appearance of your website by taking advantage of the most visible component, the address.</span></div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">done</i>Linking Strategy</div>
      <div class="collapsible-body"><span>Links are an incredibly important factor to improve search performance, and they seem to be making a resurgence this year. These resources will help beginners understand a bit more; it pays to read them before executing any campaign.</span></div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">done</i>Keyword Strategy</div>
      <div class="collapsible-body"><span>Your keyword strategy should involve selecting high-performing keywords that drive relevant traffic to your business.</span></div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">done</i>Title tags Strategy</div>
      <div class="collapsible-body"><span>Title tags are pretty much exactly what they sound like — the title of the page. As a title, this tag should be used to describe what a user can expect to find on a particular page.</span></div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">done</i>Meta description tags Startegy</div>
      <div class="collapsible-body"><span>A meta description is a type of meta tag used in HTML to describe what the web page is about. It appears as a quick snippet on the SERPs right beneath the link. </span></div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">done</i>Alt tags Strategy</div>
      <div class="collapsible-body"><span>The “Alt” tag is an older HTML coding strategy originally envisioned to compensate for users and browsers not equipped to handle images. </span></div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">done</i>Search Engine Indexing Strategy</div>
      <div class="collapsible-body"><span>The indexing mechanism is latent semantic indexing. In latent semantic indexing search engines, determine the relationship between different entities or part of a blog content.</span></div>
    </li>
    <li>
      <div class="collapsible-header active"><i class="material-icons">done</i>Possible to combine strategies?</div>
      <div class="collapsible-body"><span>Yes, these are the Alt tags, Meta description tags, Title tags, domain name and the linking strategy. I want to implement them for making my website more effective for SEO strategy.</span></div>
    </li>
  </ul>
  	</div>

  	<!-- NEW -->
    <section id="main">
      <div class="container">
        <article id="main-col">
          <h4 class="page-title">SEO and SEM</h4>
          <p>SEO is about optimizing your website to get better rankings in the search results while SEM goes beyond SEO. It involves other methods that can get you more search engines visitors like PPC advertising.</p>
        </article>
    </section>
    <section id="main">
      <div class="container">
        <article id="main-col">
          <h4 class="page-title">Domain name strategy</h4>
          <p>A domain name strategy can add incredible value to the appearance of your website by taking advantage of the most visible component, the address.</p>
        </article>
    </section>

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h4 class="page-title">Linking strategy</h4>
          <p>Links are an incredibly important factor to improve search performance, and they seem to be making a resurgence this year. These resources will help beginners understand a bit more; it pays to read them before executing any campaign.</p>
        </article>
    </section>
    <section id="main">
      <div class="container">
        <article id="main-col">
          <h4 class="page-title">Keyword strategy</h4>
          <p>Your keyword strategy should involve selecting high-performing keywords that drive relevant traffic to your business.</p>
        </article>
    </section>
    <section id="main">
      <div class="container">
        <article id="main-col">
          <h4 class="page-title">Title tags strategy</h4>
          <p>Title tags are pretty much exactly what they sound like — the title of the page. As a title, this tag should be used to describe what a user can expect to find on a particular page.</p>
        </article>
    </section>
    <section id="main">
      <div class="container">
        <article id="main-col">
          <h4 class="page-title">Meta description tags strategy</h4>
          <p>A meta description is a type of meta tag used in HTML to describe what the web page is about. It appears as a quick snippet on the SERPs right beneath the link.</p>
        </article>
    </section>
    <section id="main">
      <div class="container">
        <article id="main-col">
          <h4 class="page-title">Alt tags Strategy</h4>
          <p>The “Alt” tag is an older HTML coding strategy originally envisioned to compensate for users and browsers not equipped to handle images.</p>
        </article>
    </section>
    <section id="main">
      <div class="container">
        <article id="main-col">
          <h4 class="page-title">Search Engine Indexing Strategy</h4>
          <p>The indexing mechanism is latent semantic indexing. In latent semantic indexing search engines, determine the relationship between different entities or part of a blog content.</p>
        </article>
    </section>
    <section id="main">
      <div class="container">
        <article id="main-col">
          <h4 class="page-title">Possible to combine strategies? </h4>
          <p>Yes, these are the Alt tags, Meta description tags, Title tags, domain name and the linking strategy. I want to implement them for making my website more effective for SEO strategy.</p>
        </article>
    </section>
   




	<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Search Engine Optimization</h5>
                <p class="grey-text text-lighten-4">I hope you have enjoyed using my web app. If you feel that this site help you out. You can follow me and give some feedback in my SNS accounts.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Follow for more Updates</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://web.facebook.com/OcreMat">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/hyperac1d">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/hyperac1d">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>

     		<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/index.js"></script>

</body>
</html>